/*------------------------------------------------------------------
[Table of contents]
1. @Import & Reset
2. Generic styles
3. Home
4. Footer

-------------------------------------------------------------------*/
/* ------------------------------------- */
/* @Import & Reset  ................... */
/* ------------------------------------- */
@import url(ionicons.min.css);
@import url(bootstrap.min.css);
@import url(magnific-popup.css);
@import url(flexslider.css);
@import url(animsition.min.css);
@import url(photoswipe.css);
@import url(default-skin/default-skin.css);
@import url(jquery.mCustomScrollbar.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ------------------------------------- */
/* Generic styles ................... */
/* ------------------------------------- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;}

h1 {
  font-size: 2.369em;
  font-weight: 300;
  margin-bottom: 20px; }

h2 {
  font-size: 1.777em;
  font-weight: 400;
  margin-bottom: 20px; }

h3 {
  font-size: 1.333em;
  font-weight: 400;
  margin-bottom: 10px; }

h4 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 10px; }

h5 {
  font-size: 0.85em;
  font-weight: 400;
  margin-bottom: 10px; }

h6 {
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px; }

#leftSide {
  position: relative;
  top: 0;
  left: 0;
  width: 45%;
  height: 100vh;
  overflow: hidden; }

#rightSide {
  position: absolute;
  top: 0;
  left: 45%;
  width: 55%;
  height: 100%;
  overflow-x: hidden;
  background: #DCDCDC; }

.gradient {
  -webkit-background: linear-gradient(rgba(189,195,199, 0.95), rgba(44,62,80, 0.95));
  -ms-background: linear-gradient(rgba(189,195,199, 0.95), rgba(44,62,80, 0.95));
  -moz-background: linear-gradient(rgba(189,195,199, 0.95), rgba(44,62,80, 0.95));
  -o-background: linear-gradient(rgba(189,195,199, 0.95), rgba(44,62,80, 0.95));
  background: linear-gradient(rgba(189,195,199, 0.95), rgba(44,62,80, 0.95)); }

/* ------------------------------------- */
/* Home ................... */
/* ------------------------------------- */
#home, #homeCenter {
  width: 100%;
  height: 100%;
  z-index: 1; }

.h-content {
  position: relative;
  z-index: 0;
  top: 3vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }

.h-content-fullwidth {
  position: relative;
  z-index: 0;
  top: 36vh;
  width: 100%;
  padding: 10px 10%;
  color: #fff; }

#homeCenter .h-content {
  text-align: center; }

.main-logo {
  position: absolute;
  top: 8%;
  max-width: 150px;
  left: 10%; }

#homeCenter .social_icons {
  text-align: center;
  left: 50%;
  padding: 0;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%); }

/* ------------------------------------- */
/* Project ................... */
/* ------------------------------------- */

.project {
  background: #DCDCDC;
  height: 95%; }

/* ------------------------------------- */
/* Footer ................... */
/* ------------------------------------- */
footer {
  position: relative;
  bottom: 0;
  display: table;
  width: 100%;
  padding: 2.5%;
  background: #2C2E2F;
  color: #fff; }
  footer p {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.75em;
    font-weight: 500 !important; }
  footer .drag {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 1.2em;
    -webkit-transition: 0.2s;
    -ms-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    footer .drag:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -o-transform: translateY(-10px);
      transform: translateY(-10px); }


/* ------------------------------------- */
/* Bootstrap styles .................... */
/* ------------------------------------- */
.full-height {
  height: 100vh !important; }

.mid-height {
  height: 400px; }

p {
  font-size: .85em;
  font-weight: 500;
  margin-bottom: 20px; }
  p a {
    color: #0072ff;
    text-decoration: none; }
    p a:hover {
      color: #004499; }

.row {
  padding: 0;
  margin: 0; }

a {
  color: #fff;
  text-decoration: none; }
  a:hover {
    color: #fff;
    text-decoration: none; }
  a:visited {
    outline: none !important;
    text-decoration: none; }
  a:focus {
    color: #fff;
    outline: none !important;
    text-decoration: none; }

::-moz-selection {
  color: #fff;
  background: #0072ff !important; }

::selection {
  color: #fff;
  background: #0072ff !important; }

img {
  max-width: 100%;
  vertical-align: middle; }

/* ------------------------------------- */
/* Particles ........................... */
/* ------------------------------------- */
/* Particles */
#particles-js {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: -1; }

/* ------------------------------------- */
/* Chart Dashboard ..................... */
/* ------------------------------------- */

.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

#number-victims-nd {
    font-size: 60px;
}

#total-victims-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
    color: #808080;
}