<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>DARK | NZ - Crime</title>
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

      <!-- Favicon ================== -->
      <!-- Standard -->
      <link rel="shortcut icon" href="./static/img/favicon-144.png">
      <!-- Retina iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="144x144" href="./static/img/favicon-144.png">
      <!-- Retina iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="114x114" href="./static/img/favicon-114.png">
      <!-- Standard iPad Touch Icon-->
      <link rel="apple-touch-icon" sizes="72x72" href="./static/img/favicon-72.png">
      <!-- Standard iPhone Touch Icon-->
      <link rel="apple-touch-icon" sizes="57x57" href="./static/img/favicon-57.png">

      <!--  Resources style ================== -->
      <link href="./static/css/theme-Dark.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body>
      <section class="animsition">

        <div id="leftSide">
          <div id="home" class="gradient">
            <!-- Your logo -->
  			    <!-- <img src="img/logo.png" alt="" class="main-logo" /> -->

            <div class="h-content">
              <h1>D3 Map Data here plz</h1>
            </div>


          </div>

        </div>

        <div id="rightSide">

          <div class="project">
            <ul class="gallery project_navigation">
              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="./static/img/pexels-photo-14075.jpeg" alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Music Player</h4>
                      <span>By Code Rare</span>
                    </div>
                    <a href="#project1" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="./static/img/shells-massage-therapy-sand.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Sea Shells</h4>
                      <span>By Code Rare</span>
                    </div>
                    <a href="#project2" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="./static/img/typing-vintage-technology-keyboard.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Typing</h4>
                      <span>By Code Rare</span>
                    </div>
                    <a href="#project3" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="./static/img/hand-taking-photo-photography-vintage.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Camera</h4>
                      <span>By Code Rare</span>
                    </div>
                    <a href="#project4" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="./static/img/guitar.jpg"  alt="This is my work" class="img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Guitar</h4>
                      <span>By Code Rare</span>
                    </div>
                    <a href="#project5" class="view">VIEW</a>
                  </figcaption>
                </figure>
              </li>

              <li class="item col-sm-6 col-xs-12">
                <figure>
                  <!-- Your picture -->
                  <img src="./static/img/food-plate-yellow-white.jpg"  alt="This is my work" class="img img-responsive" />
                  <!-- Picture's description below this one -->
                  <figcaption class="caption">
                    <div class="photo-details">
                      <h4>Food</h4>
                      <span>By Code Rare</span>
                    </div>
                    <a href="#project6" class="view">VIEW</a>

                  </figcaption>
                </figure>
              </li>
            </ul>

            <ul class="project_info">
              <li id="project1">
                <div class="project_content">
                  <h2>YOUR TITLE GOES HERE</h2>
                  <p>D3-CHART HERE
                  </p>
                </div>
              </li>

              <li id="project2">
                <div class="project_content">
                  <h2>YOUR TITLE GOES HERE</h2>
                  <p>D3-CHART HERE
                  </p>
                </div>
              </li>

              <li id="project3">
                <div class="project_content">
                  <h2>YOUR TITLE GOES HERE</h2>
                  <p>D3-CHART HERE
                  </p>
                </div>
              </li>

              <li id="project4">
                <div class="project_content">
                  <h2>YOUR TITLE GOES HERE</h2>
                  <p>D3-CHART HERE
                  </p>
                </div>
              </li>

              <li id="project5">
                <div class="project_content">
                  <h2>YOUR TITLE GOES HERE</h2>
                  <p>D3-CHART HERE
                  </p>
                </div>
              </li>

              <li id="project6">
                <div class="project_content">
                  <h2>YOUR TITLE GOES HERE</h2>
                  <p>D3-CHART HERE
                  </p>
                </div>
              </li>
            </ul>
          </div>


          <div class="about">
            <h2>Get started fast with one of our unique, pre-built concepts.</h2>
            <p>
              Customers love our block-based approach to template building,
              it makes assembling beautiful pages fast and enjoyable, leaving
               more time to craft your perfect layout. love our block-based
              approach to template building, it makes assembling beautiful pages
              fast and enjoyable, leaving more time to craft your perfect layout.
            </p>

            <p>
              Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
            </p>

            <div class="service row">
              <div class="feature col-sm-3 col-xs-3">
                <i class="ion-heart"></i>
                <h6>SIMPLE</h6>
              </div>

              <div class="feature col-sm-3 col-xs-3">
                <i class="ion-erlenmeyer-flask"></i>
                <h6>CREATIVE</h6>
              </div>

              <div class="feature col-sm-3 col-xs-3">
                <i class="ion-waterdrop"></i>
                <h6>SMOOTH</h6>
              </div>

              <div class="feature col-sm-3 col-xs-3">
                <i class="ion-code"></i>
                <h6>STABLE</h6>
              </div>
            </div>
          </div>

          <footer>
            <p class="uppercase">NZ - CRIME - DATA</i></p>
            <div class="drag">
              <i class="up ion-arrow-up-c"></i>
            </div>
          </footer>

        </div>
      </section>

      <script src="./static/js/jquery-1.11.3.min.js"></script>
      <script src="./static/js/bootstrap.min.js"></script>
      <script src="./static/js/animsition.min.js"></script>
      <script src="./static/js/jquery.magnific-popup.min.js"></script>
      <script src="./static/js/jquery.countdown.min.js"></script>
      <script src="./static/js/twitterFetcher_min.js"></script>
      <script src="./static/js/masonry.pkgd.min.js"></script>
      <script src="./static/js/imagesloaded.pkgd.min.js"></script>
      <script src="./static/js/jquery.flexslider-min.js"></script>
      <script src="./static/js/photoswipe.min.js"></script>
      <script src="./static/js/photoswipe-ui-default.min.js"></script>
      <script src="./static/js/jqinstapics.min.js"></script>
      <script src="./static/js/script.js"></script>
  </body>
</html>
