<!DOCTYPE html>
<html>
<head>
  <title>Crime NZ</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Crime NZ</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of victims 2017
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Type of crime -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Type Of Crime
              </div>
              <div class="chart-stage">
                <div id="crime-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Type of crime -->

          <!-- Weapons used -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Weapons Used In Crime
              </div>
              <div class="chart-stage">
                <div id="weapon-used-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Weapons used -->

        </div>
      </div>

      <!-- Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            NZ Map
          </div>
          <div class="chart-stage">
            <div id="nz-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Victimizations
          </div>
          <div class="chart-stage">
            <div id="number-victims-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of people Victimized
          </div>
          <div class="chart-stage">
            <div id="total-victims-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

    </div>

  </div>

    <hr>
    <p class="small text-muted">NZ - Crime - Data</a></p>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>
